.formContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.formContainer button {

    background: linear-gradient(45deg, #00ff00 0, var(--green-ally) 110%);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
    color: var(--grey-ally);
    font-size: 15px;
    font-weight: 700;
    height: 3rem;
    margin: 25px 0;
    padding: 15px;
    transition: 2s;
    width: 100px;

}

.formContainer button:hover {

    background: linear-gradient(45deg, var(--green-ally) 0, #00ff00 110%);
    cursor: pointer;
    width: 500px;
}